<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
<body>

</header>

<header> 
<img src="logo-mercado-liebre.svg" width="350"> 

<div> lugar para poner la barra de busqueda </div>
<p> compra en cuotas y sin tarjetas de credito </p>
<img src="img-home-banner.jpg"

<ul> 
<li> Ofertas </li>
<li> Tiendas oficiales </li>
<li> Vender </li>
<li> Ayuda </li>
</ul> 

<ul> 
<li> Creá tu cuenta</li>
<li> Ingresá </li>
<li> Mis Compras </li>
</ul>
 </header> 


<section>  
    <h6>Basado en tus ultimas visitas</h6>
    <article>
<img src="img-cafetera-moulinex.jpg"> 
<p> $6.770 </p>
<p>40% OFF </p>
<p> Cafetera Moulinex </p>

</article>

<article> 
<img src="img-macbook-pro-2019.jpg">
<p>$230.000</p>
<p>20% OFF</p>
<p>Macbook Pro 2019</p>
</article>

<article>
<img src="img-samsung-galaxy-s10.jpg">
<p> $70.500 </p>
<p>10% OFF</p>
<p>Samsung galaxy s10</p>
</article>

<article> 
<img src="img-tv-samsung-smart.jpg">
<p>$23.200</p>
<p>5% OFF</p>
<p>Smart Tv Samsung 43"</p>
</article>

</section>

<section> 
    <h6>Seccion de Ofertas</h6>

<article>
    <img src="img-cafetera-moulinex.jpg"> 
<p>$6.770</p>
<p>40% OFF</p>
<p>Cafetera Moulinex</p>

<article> 
    <img src="img-macbook-pro-2019.jpg">
    <p>$230.000</p>
    <p>20% OFF</p>
    <p>Macbook Pro 2019</p>
    </article>

</article>
<img src="img-samsung-galaxy-s10.jpg">
<p> $70.500 </p>
<p>10% OFF</p>
<p>Samsung galaxy s10</p>

<article> 
    <img src="img-tv-samsung-smart.jpg">
<p>$23.200</p>
<p>5% OFF</p>
<p>Smart Tv Samsung 43"</p>
</section>


<footer>   
<section>
<ul>  
    <li><h6>Paga con tarjeta o en efectivo</h6> </li>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>

<li><h6>Envio gratis desde $2.500</h6></li>
 <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>

<li><h6> Seguridad, de principio a fin</h6></li>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@. </p>

<p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </ul>

</section>
</footer>
    
</body>




</html>